<div th:fragment="navbar">
    <nav>
        <div class="navbar-brand">
            <a href="#">Dating Site</a>
        </div>
        <div class="navbar-search">
            <form>
                <input type="text" placeholder="Поиск..">
                <button type="button">Найти</button>
            </form>
        </div>
        <div class="navbar-dropdown">
            <a href="#">Прочее</a>
            <ul>
                <li><a href="#">Друзья</a></li>
                <li><a href="#">Сообщения</a></li>
                <li><a href="#">Фото</a></li>
                <li><a href="#">Подарки</a></li>
            </ul>
        </div>
        <div class="navbar-profile">
            <a href="#">Профиль</a>
        </div>
    </nav>
</div>